*{
    box-sizing: border-box;
}

body, nav, ul, .getStarted, .title, .main, footer , .description, .ingredients-direction{
    display: flex;
}

.odinLogo{
    height: 40px;
    width: 40px;
}

.foodImg{
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*header*/
header{
    padding-top: 5px;
    width: 100%;
}

.title{
    align-items: center;
}

nav{
    height: 25%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
}

ul{
    width: 35%;
    gap: 20px;
    justify-content: space-between;
    position: relative
}

nav > ul> li, #recipes li{
    list-style-type: none;
    font-family: monospace;
}

ul li:hover #recipes{
    opacity: 1;
}

#recipes{
    background-color: rgb(201, 198, 198);
    padding: 10px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
}

.getStarted{
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    width: 130px;
    height: 20px;
    padding: 20px;
}

.main{
    border: 1px solid rebeccapurple;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
    height: 500px;
    background-image: url(/images/brooke-lark-08bOYnH_r_E-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main div{
    width: 30%;
}
/*header*/

/*Footer*/
footer{
    height: 50px;
    width: 100%;
    background-color: gray;
}
/*Footer*/

/*recipe*/
.description{
    padding: 30px;
    width: 100%;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.description div{
    width: 60%;
    padding: 20px;
    border: 1px solid red;
}

.ingredients-direction{
    width: 100%;
    flex-direction: row;
    padding: 30px;
    justify-content: space-evenly;
}

.ingredients-direction div{
    width: 50%;
    padding: 10px;
    border: 1px solid fuchsia;
    align-items: center;
}

.ingredients-direction ul{
    flex-direction: column;
    width: 100%;
}
/*recipe*/


/* font family and size*/
/*Header*/
.title h3{
    color: orange;
    font-family: 'Times New Roman';
    font-size: 30px;
}

nav > ul > li > a, #recipes a, .title a{
    color: rgb(19, 17, 17);
    font-size: 15px;
    text-decoration: none;
}

.getStarted h4{
    color: orange;
}

.main h3{
    color: orange;
    font-family: cursive;
    font-size: 50px;
}
.main h1{
    font-size: 60px;
}
/*Header*/



/*recipe*/
h2{
    color: black;
    font-family: 'Times New Roman';
    font-size: 25px;
}

p{
    font-family: 'Georgia';
    font-size: 15px;
}

ol, ul{
    font-family: 'Arial';
    font-size: 15px;
    color: black;
}
/*recipe*/
/* font family and size*/



/*For mobile view*/
/*header*/
@media screen and (max-width : 650px){
    .title h3{
        font-size: 20px;
    }

    nav{
        flex-wrap: wrap;
        padding: 20px 0;
    }

    nav ul{
        width: 100%;
        padding: 0 50px;
    }

    nav .getStarted{
        width: 100%;
        border: none;
    }

    nav .getStarted h4{
        padding: 20px 25px;
        border: 1px solid black;
    }

    .main{
        background-size: 100% 100%;
        flex-direction: column;
    }

    .main div{
        width: 100%;
    }

    .description div{
        width: 100%;
    }

    .ingredients-direction{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ingredients-direction div{
        width: 100%;
    }
    
    
    /*Fonts*/
    .main h3{
        font-size: 30px;
    }
    .main h1{
        font-size: 40px;
    }

    .description h2, .ingredients-direction h2{
        text-align: center;
    }

}


/*For mobile view*/
